.b-contact-form {

    .col-1 {}

    .col-2 {
        width: 50%;
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {
            width: 75%;
        }

        @include media-breakpoint-only(md) {
            width: 75%;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
        }
    }
}

.contact-form--info {

    .title {
        font-size: 18px;
        @include title-font();
        color: #333333;
        text-align: center;
    }
}

.contact-form {

    .field {
        margin: 5px 0 5px 0;

        &:first-child {
            margin: 0 0 5px 0;
        }

        &:last-child {
            margin: 5px 0 0 0;
        }

        .btn {
            display: block;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;

            width: 100%;
            height: 38px;

            background: #42b8d4;
            opacity: .9;
            color: #ffffff;

            text-transform: uppercase;

            cursor: pointer;

            &:focus {
                outline: 1px solid #009909
            }

            &:active {
                color: none;
                outline: none;
            }
        }
    }
}

.contact-form--field {

    .label {

        label {
            font-size: 12px;
            @include title-font();
            letter-spacing: 1px;
            // text-transform: uppercase;
            color: #333333;
        }
    }

    .input {

        input {
            display: block;

            width: 100%;
            height: 38px;

            margin: 0;
            padding: 0 5px;

            outline: none;
            box-sizing: border-box;

            border: 1px solid #cccccc;
            color: #555555;

            font-size: 15px;

            &::placeholder {
                color: #707070;
                font-size: 15px;
            }

            &:focus {
                // outline: 1px solid #003d4d;
                border: 1px solid #42b8d4;
            }

            &:active {
                color: none;
                outline: none;
            }
        }
    }

    .textarea {

        textarea {
            display: block;
            width: 100%;

            margin: 0;
            padding: 5px;

            outline: none;
            resize: none;
            box-sizing: border-box;

            border: 1px solid #cccccc;
            color: #555555;

            font-size: 14px;

            &::placeholder {
                color: #707070;
                font-size: 14px;
            }

            &:focus {
                // outline: 1px solid #42b8d4;
                border: 1px solid #42b8d4;
            }

            &:active {
                color: none;
                outline: none;
            }
        }
    }

    .e {

        input {
            border: 1px solid #990000;
        }

        textarea {
            border: 1px solid #990000;
        }
    }

    .error-message {
        // min-height: 15px;
        font-size: 11px;
        text-align: right;
        color: #990000;
    }
}

.cf-success {

    .container {}
}

.cf-success--message {
    height: 25px;

    margin: 15px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #42b8d4;
    color: #42b8d4;

    font-size: 11px;
    text-transform: uppercase;
    line-height: normal;
}