@import "./gallery/fancybox";

.b-page-gallery {

    .row-1 {
        padding-bottom: 20px;
    }

    .row-2 {
        border-bottom: 2px solid #42b8d4;
        padding-bottom: 20px;
    }
}

.gallery-title {

    .title {
        position: relative;

        @include title-font();
        font-size: 16px;

        padding-bottom: 10px;

        &::before {
            position: absolute;
            width: 40px;
            height: 3px;
            content: " ";
            left: 0;
            bottom: 0;
            background-color: #42b8d4;
        }

        &::after {
            position: absolute;
            width: 3px;
            height: 3px;
            content: " ";
            left: 43px;
            bottom: 0;
            background-color: #42b8d4;
        }
    }
}

.article-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    @include media-breakpoint-only(xxl) {}

    @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {}

    @include media-breakpoint-only(sm) {
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    @include media-breakpoint-only(xs) {
        grid-template-columns: 1fr;
        gap: 5px;
    }

    a {

        img {
            max-width: 100%;
            display: block;
            border-radius: 5px;
        }
    }
}