.langs {}

.langs-list {
    display: flex;
    flex-direction: row;

    .item {
        margin: 0 5px 0 5px;
        padding-bottom: 5px;

        &:first-child {
            margin: 0 5px 0 0;
        }

        &:last-child {
            margin: 0 0 0 5px;
        }

        .link {
            display: block;
        }

        .lang-img {
            display: block;
        }
    }

    .current {
        border-bottom: 2px solid #42b8d4;
    }
}