.footer-social {
    display: flex;
    flex-direction: row;

    .item {
        margin: 0 5px 0 5px;

        &:first-child {
            margin: 0 5px 0 0;
        }

        &:last-child {
            margin: 0 0 0 5px;
        }

        .link {}
    }
}

.footer-social--icon {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    text-align: center;
    background: rgba(0, 0, 0, .4);

    color: #999999;
}